.App {
  background-color: aqua;
  border: 6px solid black;
  width: 700px;
  margin: 10px auto;
  padding: 20px;
  list-style-type: none;
}

.taskForm{
  text-align: center;
}

.mainButton , #mainInput{
  padding: 10px;
}

.mainButton{
  background-color: rgb(184, 31, 176);
}

.todo-list{
  border: 1px solid rgb(10, 97, 97);
  margin: 10px 400px;
  padding: 20px;
}

.btns{
float: right;
}
